# Virtual environments
env/
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Build files
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
db.sqlite
Thumbs.db

# Logs
*.log

# Environment variables
.env

# PyInstaller
*.spec

# Testing
.pytest_cache/
.coverage
htmlcov/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/